.container {
    max-width: 100%;
    width: 100%;
    padding: 0 2rem;
}

.cart {
    display: none;
    position: absolute;
    right: 0;
    top: 5rem;
    z-index: 10;
    min-width: 20rem;
    background-color: $white-color;
    transform: translateX(-100%);
    border: 1px solid black;


    @media only screen and (max-width: $breakpoint-sm) {
        transform: translateX(-5%);
    }

    &__products {
        padding: 2rem;
        border-bottom: 1px solid $primary-color;

        &__name {
            padding-right: 1rem;
        }
    }

    &__actions {
        text-align: center;
        padding: 2rem;
    }

}

.hero {
    &__image {
        height: 80rem;

        @media only screen and (max-width: $breakpoint-md) {
            height: auto;
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.8;
        color: $light-color;

        @media only screen and (max-width: $breakpoint-md) {
            display: none;
        }
    }
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product {
    padding: 15rem 0;

    @media only screen and (max-width: $breakpoint-md) {
        padding: 2rem 0;
    }

    &__image {
        max-width: 60%;

        @media only screen and (max-width: $breakpoint-md) {
            max-width: 100%;
            height: auto;
        }
    }
}