.container {
    max-width: 100%;
    width: 100%;
    padding: 0 2rem;
}

.hero {
    &__image {
        height: 900px;
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.8;
        color: $light-color;
    }
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product {
    padding: 15rem 0;

    &__image {
        max-width: 60%;
    }
}