/*
    FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

$heading-font: 'Poppins', sans-serif;
$main-font: 'Work Sans', sans-serif;

h1, h2, h3, h4{
    font-family: $heading-font;
    font-weight: 700;
}

/*
    COLORS
*/
$primary-color: #0F0E1D;
$secondary-color: #fe4646;
$light-color: #f3f3f3;
$white-color: #fff;

